*{
    box-sizing: border-box;
}
html, body, div, img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
header{
    background-image: url(vitoriabackground2.avif);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem;
    color: white;
    margin: 0% auto;
    height: 500px;
    font-size: 30px;

}
body{
    margin: 0%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#activity-title{
    display:flex;
    justify-content: center;
    background-color: rgba(150, 229, 229, 0.244);
    margin: 0%;
    padding: 2rem;

}
.container-activity{
    display: flex;
    background-color: rgba(150, 229, 229, 0.244);
    padding: 2rem;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-basis: auto;
    
}

#activity-picture{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 0% auto;
}

.activity{
    justify-content: center;
    align-items: center;
    margin: 2rem;
    flex: 0 1 24%;
    font-size: large;
}

.activity-body{
   margin: 0 auto;
   
}

.card{
    display: flex;
    margin: 15px auto;
    background-color: skyblue;
    flex: 0 1 50%;
    border-radius: 5%;
    border-bottom: 10px solid black;
    border-left: 8px solid black;
}

#card-picture{
    border-radius: 5%;
    height: 250px;
    width: 200px;
    padding: 1.5rem;

}

.card-guide{
    padding: 1.5rem;
    margin: 1rem;
}

.card p{
    padding: .5rem;
    margin: 1rem;
    font-weight: bold;
}